<div id="formulario">

  <form (ngSubmit)="salvaAdmin()" [formGroup]="formAdmin">
    
    <div class="form-group">
      <label for="inputAddress">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="usuarios.usuarioFirstName" id="admin_nome" formControlName="admin_nome" placeholder="Insira o nome">
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-5">
        <label for="inputAddress">CPF</label>
        <input type="text" class="form-control" [(ngModel)]="usuarios.usuarioCpf" id="admin_cpf" formControlName="admin_cpf" placeholder="Insira o CPF">
      </div>

      <div class="form-group col-md-5">
        <label for="inputAddress">RG</label>
        <input type="text" class="form-control" [(ngModel)]="usuarios.usuarioRg" id="admin_rg" formControlName="admin_rg" placeholder="Insira o RG">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group form-group col-md-4">
        <label for="inputAddress">Função</label>
        <input type="text" class="form-control"  id="admin_funcao" formControlName="admin_funcao" placeholder="Insira a Função">
      </div>

      <div class="form-group form-group col-md-4">
        <label for="inputAddress2">Setor</label>
        <input type="text" class="form-control"  id="admin_setor" formControlName="admin_setor" placeholder="Insira o Setor">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-7">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" [(ngModel)]="usuarios.usuarioEmail" id="admin_email" formControlName="admin_email" placeholder="Email">
      </div>

    </div>
      
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="inputPassword4">Senha</label>
          <input type="password" class="form-control" [(ngModel)]="usuarios.usuarioPassword" id="admin_senha1" formControlName="admin_senha1" placeholder="Insira sua Senha">
        </div>

        <div class="form-group col-md-6">
          <label for="inputPassword4"> Confirmar Senha</label>
          <input type="password" class="form-control" id="admin_senha2" formControlName="admin_senha2" placeholder="Confirme sua Senha">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-4"><button type="reset" class="btn btn-primary">Limpar</button></div>
        <div class="form-group col-md-4"><button type="submit" class="btn btn-primary">Salvar</button></div>
        
      </div>
      

    </form>


</div>