<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css"/>

<nav class="nav">
  <ul class="nav__menu">
    <li class="nav__menu-item"><a>Gerenciamento</a>
      <ul class="nav__submenu">
        <li class="nav__submenu-item"> <a routerLink="usuarios/usuarios.component">Usuarios</a></li>
        <li class="nav__submenu-item"> <a routerLink="fornecedores/fornecedores.component">Fornecedores</a></li>
      </ul></li>
    <li class="nav__menu-item"><a >Eventos</a></li>
    <li class="nav__menu-item"><a>Relatórios</a></li>
    <li class="nav__menu-logo"><a routerLink=""><img class="img__menu-logo" src="../assets/logo.svg"></a></li>

  </ul>
</nav>

<div class="container"> <router-outlet></router-outlet> </div>
