<div class="container">

<div class="jumbotron">
    
    <h1 style="text-align: center;"> Relatório de Eventos </h1>

    
    <div class="col-sm-12">

        <label for="evento-inicio" class="col-form-label">Inicio:</label>
        <input
        type="date"
        class="form-control"
        name="inicio"
        id="evento-inicio"
        value=""
        />
        <label for="evento-fim" class="col-form-label">Fim:</label>
        <input
        type="date"
        class="form-control"
        name="fim"
        id="evento-fim"
        value=""
        />
        
        <button class="btn btn-primary float-right" type="submit">Gerar Relatório</button>
    </div>
    
</div>

<div class="jumbotron" >
    

    <a [href]="doc"> TESTE DE DOWNLOAD</a>

</div>



</div>
