<div class="container">
    <form class="px-4 py-2">
      <fieldset>
        <legend>Segurança</legend>
        <div class="form-group">
          <label for="InputEmail">Email</label>
          <input [(ngModel)]="email" id="InputEmail" type="email" name="reset-password-email0" required ngModel class="form-control"
            placeholder="Digite seu email">
          <label for="InputOldPassword">Senha Atual</label>
          <input [(ngModel)]="senhaAntiga" id="InputOldPassword" type="password" name="reset-password-email1" required ngModel class="form-control"
            placeholder="Digite sua senha atual">
          <label for="InputNewPassword">Senha Atual</label>
          <input [(ngModel)]="senhaNova" id="InputNewPassword" type="password" name="reset-password-email2" required ngModel class="form-control"
            placeholder="Digite sua nova senha">
        </div>
        <button type="submit" (click)="onChangePassword()" class="btn btn-primary">
          <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
          <span *ngIf="refreshing">Carregando...</span>
          <span *ngIf="!refreshing">Mudar senha</span>
        </button>
      </fieldset>
    </form>
</div>
